.login-section {
  width: 100vw;
  height: 100vh;
  gap: 30px;
}

.login-logo {
  width: 70px;
  height: auto;
}

.login-sequence {
  width: 100%;
}

.login-buttons {
  width: 100%;
}

.login-buttons span {
  font-size: 12px;
}

.login-buttons button {
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  width: 70%;
  background-color: var(--color-main-active);
  color: white;
}

.login-buttons button:disabled {
  background-color: gray;
}

.login-buttons-outline {
  border: 3px solid var(--color-main-active) !important;
  background-color: transparent !important;
}

.login-buttons button:hover {
  background-color: var(--color-secondary) !important;
}

.login-onboarding-input {
  width: 100%;
}

fieldset {
  width: 100%;
}

input {
  width: 70%;
}

.login-section footer {
  position: absolute;
  display: flex;
  gap: 20px;
  bottom: 30px;
  margin: 0 auto;
}

.login-section footer p {
  color: white;
  font-size: 10px;
  cursor: pointer;
}